Flask==3.1.1
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
python-dotenv==1.1.1
gunicorn==23.0.0
eventlet==0.39.1
seleniumbase==4.40.6
lxml==5.4.0
PyAutoGUI==0.9.54
SQLAlchemy==2.0.41
pydantic==2.11.7
APScheduler==3.11.0
pytz==2025.2
apprise==1.9.3
sqlcipher3-binary==0.5.4