.activity {
  flex: 1 1 auto;
  .activity-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &.MuiCardContent-root {
      padding: 0;
    }
  }

  .data-grid {
    border: none;
    .MuiDataGrid-cell {
      display: flex;
      align-items: center;
      height: 55px;
    }
  }

  .activity-status {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .next-run {
      line-height: 0.9rem;
    }

    .expiration {
      font-weight: 500;
      line-height: 0.9rem;
    }
  }

  .login-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 8px;
    margin: -8px;
    border-radius: 4px;
  }
}