.activity {
  .activity-card.MuiCardContent-root {
    padding: 0;
  }

  .activity-table {
    td {
      padding-top: 10px;
      padding-bottom: 10px;
      &:last-child {
        padding-right: 0;
      }

      &.empty-state-cell {
        border: none;
      }
    }
  }

  .activity-empty-pagination-spacer {
    height: 52px;
  }

  .activity-status {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .next-run {
      line-height: 0.9rem;
    }

    .expiration {
      font-weight: 500;
      line-height: 0.9rem;
    }
  }

  .login-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 8px;
    margin: -8px;
    border-radius: 4px;
  }
}