.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  padding: 64px 16px 16px;

  @media (min-height: 836px) {
    height: 836px
  }

  @media (min-width: 1134px) {
    width: 1134px;
  }

  @media (min-width: 1300px) {
    padding-top: 16px;
  }

  .main-page-header {
    display: flex;
    gap: 16px;

    .search {
      flex-grow: 1;
    }
  }
}