services:
  enterr:
    build:
      context: .
      target: production
    image: enterr:latest
    environment:
      - SECRET_KEY=DEBUG_SECRET_KEY
    ports:
      - "7653:7653"
    volumes:
      - ./config:/config
    restart: always
