.search.MuiAutocomplete-root {
  &.MuiInputBase-root.MuiOutlinedInput-root {
    border: 1px solid #515151;
  }
  background: #121212;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    background: #1e1e1e;
  }
}