:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 24px;
}
.icon-small {
  width: 14px;
  margin-left: 2px;
}

.MuiPaper-root {
  &:not(.MuiDialog-paper){
    border: 1px solid #515151;
  }
  box-shadow:  none !important;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.MuiTabs-root {
  .MuiTab-root {
    text-transform: none;
    min-height: 32px;
    display: flex;
    justify-content: flex-start;
    width: 200px;
    &.Mui-selected {
      background: #242424;
    }
    &:hover {
      background: #303030;
    }
  }
}

.spacer {
  flex: 1;
}

.MuiTable-root {
  .MuiTableCell-stickyHeader {
    background: #151515;
  }
}

.MuiSkeleton-root.skeleton-chip {
  width: 90px;
  height: 32px;
  border-radius: 16px;
}